.contents {
    padding-top: 100px;
 margin-top: 70px;
 margin-bottom: 70px;
}

.contents >h3 {
   font-size: 3.5rem;
   margin: 5px 20px 30px 25px;
}

.contents h4 {
    font-size: 2rem;
    margin: 0px 30px;
    background-color: #00b4d8;
    width: 100px;
    text-align: center;
}

.pages {
    margin: 0px 2px;
}

.post-img {
    width: 58%;
    height: 400px;
    float: left;
    margin: 0px 20px 5px 1px;
    border-style: solid;
    border-color: rgb(94, 75, 75);
    border-width: 3px;
}

.imgtext {
    display: inline-flex;
    
}

.imgtext > p {
    font-size: 1.3rem;
    font-weight: 50;
    text-align: justify;
    width: 40%;
}

.details {
    margin-left: 20px;
    font-family: sans-serif;
    color: rgb(192, 180, 180);
    color: black;
    font-size: 1.2rem;

}


@media only screen and (max-width: 720px) {
    .post-img {
         display: block;
         width: 90%;
         margin: 18px 2%;
}

.imgtext {
    display: block;
}

    .imgtext > p {
            /* font-size: auto; */
            font-weight: 50;
            text-align: none;
            width: 80%;
        }
    
}