.body {
    padding-top: 100px;
}

.big_post {
    
    display: inline-flex;
    justify-content: space-evenly;
    margin: 0;
    flex: 3;
    flex-wrap: wrap;
    
}


.small_post {
    
    display: inline-flex;
    justify-content: space-evenly;
    margin: 0;
    flex: 3;
    flex-wrap: wrap;
    
}

.err-text {
    margin: 15% 10%;
    text-align: center;
}

@media only screen and (max-width: 720px) {
    .body{
        min-height: 100vh;
    }
    .big_post {
        display: inline-grid;
    }
}